%h1 New group

= error_messages_for :group 

- form_for(@group) do |f| 
  %p
    %b Name
    %br
    = f.text_field :name 
  %p
    %b Enabled
    %br
    = f.check_box :enabled 

  %p
    = f.submit "Create"
    
= link_to 'Back', groups_path 