%h1 New app

= error_messages_for :app 

- form_for(@app) do |f| 
  %p
    %b Name
    %br
    = f.text_field :name 
  %p
    %b Wait wav
    %br
    = f.text_field :wait_wav 
  %p
    %b App human
    %br
    = f.text_field :app_human 
  %p
    %b App machine
    %br
    = f.text_field :app_machine 
  %p
    %b Calls Per Minute
    %br
    = f.text_field :calls_per_minute

  %p
    = f.submit "Create"
    
= link_to 'Back', apps_path 