%h1 New schedule

= error_messages_for :schedule 

- form_for(@schedule) do |f| 
  %b Start Time
  = f.datetime_select :start
  - unless @tags.nil?
    %p
    %b Tags
    = select_tag :tags, options_for_select(@tags) 
  %p
  %b Application
  = f.collection_select('app_id', @apps, :id, :name)
  %p
    = f.submit "Create"
    
= link_to 'Back', schedules_path 