%h1 Current Dialer Status
%p= "As of #{Time.zone.now}"
  
%p
  %strong Calls made in the past 5 minutes :
  = History.count_calls_since(5.minutes)
  %br
  %strong Calls made in the past 15 minutes :
  = History.count_calls_since(15.minutes)
  %br
  %strong Calls made in the past 60 minutes :
  = History.count_calls_since(60.minutes)
  %br
  %strong Calls made in the past 24 hours :
  = History.count_calls_since(24.hours)
  %br

%h2 Running Schedules
%table
  %tr
    %th Application Name
    %th Started at
    %th Total Tasks
    %th Tasks Left
  - for schedule in @running_schedules
    %tr
      %td=h schedule.app.name
      %td=h schedule.start
      %td=h schedule.total_tasks
      %td=h schedule.tasks_left
%h2 Log files
= link_to "Web Server File", :action => "download_engine_log"
= link_to "Dialer Log File", :action => "download_engine_log"

%h2 Latest Dialer Engine Output
%p
- for line in @engine_output
  =h line
  %br
  
%h2 Latest Web Server Output
%p
- for line in @server_output
  =h line
  %br  
  
